.saved-city__btn {
  width: 250px;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.saved-city__btn:hover {
  background-color: rgb(77, 77, 77);
}

.saved-city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.del-btn {
  margin-left: auto;
}
